<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>


<!-- Page content -->
<div class="container-fluid mt--7">
  <form [formGroup]="formularioFormGroup"
        (ngSubmit)="onClickActualizar(formularioFormGroup.value)">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <h3 class="mb-0">Actualizar postcosecha</h3>
          </div>
          <div class="card-body">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="idPostcosecha">Identificador</label>
                    <input type="text" id="idPostcosecha" formControlName="idPostcosecha"
                           class="form-control form-control-alternative">
                  </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="fechaPostcosecha">Fecha de actualización</label>
                      <input type="text" id="fechaPostcosecha" formControlName="fechaPostcosecha"
                             class="form-control form-control-alternative">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="nombrePostcosecha">Nombre postcosecha</label>
                      <input type="text" id="nombrePostcosechaa" formControlName="nombrePostcosecha"
                             class="form-control form-control-alternative"
                             [ngClass]="{ 'is-invalid': formularioFormGroup.get('nombrePostcosecha').errors&&
                             formularioFormGroup.get('nombrePostcosecha').dirty  }">
                      <div *ngIf="formularioFormGroup.get('nombrePostcosecha').errors&&
                      formularioFormGroup.get('nombrePostcosecha').dirty"
                           class="invalid-feedback">Ingrese este campo.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="estadoPostcosecha">Estado</label>
                      <input type="text" id="estadoPostcosecha" formControlName="estadoPostcosecha"
                             class="form-control form-control-alternative">
                    </div>
                  </div>
              </div>
            </div>
            <hr class="my-4"/>
            <div class="row" style="float: right">
              <div class="col-lg-3">
                <h3 class="mb-0">
                  <button type="submit" class="btn btn-outline-danger"><i class="far fa-edit"></i> Actualizar Postcosecha
                  </button>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
