<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>


<!-- Page content -->
<div class="container-fluid mt--7">
  <form [formGroup]="formularioFormGroup"
        (ngSubmit)="onClickGuardar(formularioFormGroup.value)">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <h3 class="mb-0">País</h3>
          </div>
          <div class="card-body">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="nombrePais">Nombre país</label>
                    <input type="text" id="nombrePais" formControlName="nombrePais"
                           class="form-control form-control-alternative"
                           [ngClass]="{ 'is-invalid': formularioFormGroup.get('nombrePais').errors&&
                           formularioFormGroup.get('nombrePais').dirty  }">
                    <div *ngIf="formularioFormGroup.get('nombrePais').errors&&
                    formularioFormGroup.get('nombrePais').dirty"
                         class="invalid-feedback">Ingrese este campo.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4"/>
            <div class="row" style="float: right">
              <div class="col-lg-3">
                <h3 class="mb-0">
                  <button type="submit" class="btn btn-outline-danger"><i class="far fa-save"></i> Guardar País
                  </button>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
